<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca Antibiótico</title>
    <link rel="stylesheet" href="../static/estilos.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Adiciona jQuery -->
</head>
<body>
    <div class="container">
        <h1>Busque aqui o antibiótico desejado:</h1>
        <form id="formulariodebusca">
            <input type="text" placeholder="Digite o nome do antibiótico" id="Busca" class="search-box">
            <button type="submit" class="search-button">Buscar</button>
        </form>
    </div>
    
    <script src="../static/busca.js"></script> <!-- Script externo -->
</body>
</html>
