<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão de Resistência a Antibióticos</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- Referenciando o script JavaScript externo -->
    <script src="{{ url_for('static', filename='js/prediction.js') }}"></script>
</head>
<body>
    <h1>Previsão de Resistência a Antibióticos</h1>

    <!-- Div onde o resultado da predição será exibido -->
    <div id="result" style="margin-top: 20px;"></div>

</body>
</html>
