<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/resposta.css">
    <title>Resultado da Busca de Antibióticos</title>
</head>
<body>
    <div class="container">
    <h1>Resultado da Busca de Antibióticos</h1>
    
    <!-- Exibe o nome do antibiótico pesquisado -->
    <p><strong>Antibiótico pesquisado:</strong> {{ closest_drug }}</p>

    <!-- Exibe a contagem de resistência -->
    <h2>Contagem de resistência:</h2>
    <ul>
        {% for disease, counts in resistencias.items() %}
            <li><strong>{{ disease }}:</strong> 
                R: {{ counts['R'] }}, 
                I: {{ counts['I'] }}, 
                S: {{ counts['S'] }}
            </li>
        {% endfor %}
    </ul>

    </div>
</body>
</html>
